doctype html
html.light
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Just Links - #{escritorioSelectedFormat}
    link(rel='shortcut icon' href='/img/favicon.ico' type='image/x-icon')
    link(rel='stylesheet' href='/css/style2.css')
    link(rel='stylesheet' href='/css/sidepanel.css')
    link(rel='stylesheet' href='/css/editMode.css')
    link(rel='stylesheet' href='/css/icofont/icofont.min.css')
    script(defer src='/js/MiniMasonry.js-master/build/minimasonry.min.js')
    script(defer type='module' src='/js/editMode.js')
    script(defer type='module' src='/js/scripts3.js')
    script(defer type='module' src='/js/search.js')
    script(defer type='module' src='/js/sidepanel.js')
    script(defer type='module' src='/js/functions.mjs')
    script(defer type='module' src='/js/styles.js')

  body(class=mode data-desk= escritorioSelected)
  script.
    if (window.localStorage.getItem('theme')) {
      const theme = JSON.parse(window.localStorage.getItem('theme'))
      document.documentElement.classList.remove('light')
      document.documentElement.classList.add(theme)
    }
    if (window.localStorage.getItem('accentColor')) {
      const color = JSON.parse(window.localStorage.getItem('accentColor'))
      document.documentElement.style.setProperty('--accentColor', color)
    }
    if (window.localStorage.getItem('bodyBackground')) {
      const url = JSON.parse(window.localStorage.getItem('bodyBackground'))
      document.body.style.backgroundImage = `url(${url})`
    }
  include includes/header.pug
  .container
    .skeleton-loader
      .tabsket
        button.tablink.skeleton
        button.tablink.skeleton
        button.tablink.skeleton
        button.tablink.skeleton
      .tabcontentsket
        .linksket
          img.skeleton(src='')
          a.skeleton
          div
            span
        .linksket
          img.skeleton(src='')
          a.skeleton
          div
            span
        .linksket
          img.skeleton(src='')
          a.skeleton
          div
            span
        .linksket
          img.skeleton(src='')
          a.skeleton
          div
            span
        .linksket
          img.skeleton(src='')
          a.skeleton
          div
            span
      .sidepanelsket
        .gridPanel
          div.header.skeleton
        .gridPanel
          .imgHolder.skeleton
        .gridPanel
          .linkInfosket.skeleton
          .linkInfosket.skeleton
          .linkInfosket.skeleton
          .linkInfosket.skeleton
        .gridPanel
          .textHolder.skeleton

    div(id=escritorioSelected + 'Cols' class='cuerpoInt' data-id='columns')
      if columnas.length === 0
        .tab
        div(id='edit' + escritorioSelected + 'default', class='tabcontent', orden='0')
          div(class='columna' id=escritorioSelected + 'default', data-db='')
          include includes/sidepanel.pug
      else
        .tab
          - var contador = {}
          each val, index in columnas
            - var item = val.name
            if contador.hasOwnProperty(item)
              - var numero = contador[item] + 1
              - contador[item] = numero
              button.tablinks.envolt(id=escritorioSelected + val.name + numero, class=index === 0 ? 'defaultOpen' : undefined, orden=`${val.order}`, data-db=`${val._id}`)= val.name
            else 
              - contador[item] = 1
              button.tablinks.envolt(id=escritorioSelected + val.name, class=index === 0 ? 'defaultOpen' : undefined, orden=`${val.order}`, data-db=`${val._id}`)= val.name
        - var contadortb = {}
        each val in columnas
          - var item = val.name
          if contadortb.hasOwnProperty(item)
            - var numero = contadortb[item] + 1
            - contadortb[item] = numero
            div(id='edit' + escritorioSelected + val.name + numero, class='tabcontent', orden=`${val.order}`)
              div(class='columna' id=escritorioSelected + val.name + numero, data-db=`edit${val._id}`)
                each link in links
                  if link.idpanel == val._id
                    .link(id=`${link._id}` orden= `${link.orden}`)
                      img(src=`${link.imgURL}` onerror="this.onerror = null; this.src = '/img/opcion4.svg';")
                      a(href= `${link.URL}` target='_blank' title= `${link.name}`)
                        span.title #{link.name}
                        span.description #{link.description}
                      .lcontrols
                        svg.ui-icon-menu.w-6.h-6(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke-width='1.5' stroke='currentColor')
                          path(stroke-linecap='round' stroke-linejoin='round' d='M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25')
                if val.vacio == true
                  .link(orden='0')
            //- include includes/sidepanel.pug
          else
            - contadortb[item] = 1
            div(id='edit' + escritorioSelected + val.name, class='tabcontent', orden=`${val.order}`)
              div(class='columna' id=escritorioSelected + val.name, data-db=`edit${val._id}`)
                each link in links
                  if link.idpanel == val._id
                    .link(id=`${link._id}` orden= `${link.orden}`)
                      img(src=`${link.imgURL}` onerror="this.onerror = null; this.src = '/img/opcion4.svg';")
                      a(href= `${link.URL}` target='_blank' title= `${link.name}`)
                        span.title #{link.name}
                        span.description #{link.description}
                      .lcontrols
                        svg.ui-icon-menu.w-6.h-6(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke-width='1.5' stroke='currentColor')
                          path(stroke-linecap='round' stroke-linejoin='round' d='M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25')

                if val.vacio == true
                  .link(orden='0')
        include includes/sidepanel.pug
  include includes/forms.pug
  include includes/sideinfo.pug
  #resultsContainer
  #myModal.modal
      span.close &times;
      img#img01.modal-content
      #caption
  script(src='/js/Sortable-master/Sortable.min.js')